*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

body{
  background-color: #161A30;
  overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px; /* Adjust padding as needed */
    color: white;
     /* Example text color */
  }
  
  nav ul{
    gap: 30px;
  }
  
  .left a {
    font-weight: bold; /* Example styling for "Portfolio" */
    text-decoration: none; /* Example removing underline */
  }
  
  .right ul {
    list-style-type: none;
    display: flex;
    gap: 70px;
    margin-top: 10px;
  }
  
  .right li {
    margin-left: 10px;
    font-size: 1.2rem;
  }
  
  .right li a {
    color: white; /* Example text color for links */
    text-decoration: none; /* Example removing underline */
  }

  .right li a:hover{
    color: cyan;
  }

  .right{
    margin-right: 20px;
  }

  .portfolio-heading{
    font-weight: bold;
    font-size: 2rem;
    margin-left: 5px;
  }
  

  /* home page styling */
  .container {
    display: flex;
    justify-content: center;
    gap: 120px;
    align-items: center;
    background-color: #161A30;
    background-image: url('./components/bgone.jpg');
    background-size: cover;
    background-position: center;
    padding-bottom: 100px; /* Adjust padding as needed */
     /* Set container's height to 100% */
  }

  .textcont{
    display: grid;
    row-gap: 10px;
    margin-top: 200px;
  }
  
  .image{
    border: 1px solid black;
    height: 350px;
    border-radius: 50%;
    box-shadow: 0 8px 16px #31363F(0, 0, 0, 0.3);
    animation: moveHorizontal 2s linear infinite alternate;
    margin-top: -150px;
  }

  .homebottom{
    margin-top: 120px;
    margin-left: 350px;
    display: grid;

  }

  .logoimg {
    height: 100px;
    /* Define the animation */
    animation: rotate 9s linear infinite; /* Adjust duration and timing function as needed */
  }
  
  /* Define the animation keyframes */
  @keyframes rotate {
    from {
      transform: rotate(0deg); /* Start rotation from 0 degrees */
    }
    to {
      transform: rotate(360deg); /* Rotate to 360 degrees */
    }
  }

  p{
    color: white;
  }

  .first-para{
    font-size: 1.3rem;
  }

  .icons-div{
    display: flex;
    gap: 25px;
    margin-top: 10px;
  }

  .icons-div .icon{
    font-size: 2rem;
    cursor: pointer;
  }

  .fb{
    color: lightblue;
  }

  .ig{
    color: orange;
  }

  .tw{
    color: cyan;
  }

  .btn{
    border: 1px solid black;
  }

  .gh{
    color: wheat;
  }

  .lin{
    color: lightblue;
  }

  .web{
    color: cyan;
    font-weight: bold;
  }

  .webh1{
    font-size: 5rem;
    font-weight: bold;
    color: white;
  }

  /* about styling */
  #about{
    background-color: #191F38;
    padding-top: 20px;
    padding-bottom: 100px;
  }


  .logoimg{
    height: 150px;
    margin-left: 70px;
    margin-top: 30px;
  }

  .abouth1{
    text-align: left;
    font-weight: bold;
    font-size: 4rem;
    color: white;
    margin-left: 180px;
    padding-top: 20px;
  }

  .about-cont{
    display: flex;
    gap: 200px;
  }

  .about-image{
    animation: moveHorizontal 2s linear infinite alternate;
  }

  @keyframes moveHorizontal {
    0% {
      transform: translateX(-10px); /* Initial position */
    }
    100% {
      transform: translateX(10px); /* Final position */
    }
  }

  .textdiv{
    height: 250px;
    margin-left: 170px;
    margin-top: 60px;
    border-radius: 5px;
  }

  .textdiv .para{
    color: lightcyan;
    font-size: 1.2rem;
    line-height: 30px;
    margin-top: -30px;
  }

  /* skills-div styling */

  #skills{
    background-color: #191F38;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 20px;
  }

  .skillsh1{
    text-align: left;
    font-weight: bold;
    font-size: 4rem;
    color: white;
    margin-left: 180px;
    padding-top: 20px;
  }

  .programming-logo{
    height: 120px;
  }

  .logos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    margin-top: 20px;
    row-gap: 80px;
  }

  .mode-toggle{
    margin-top: 10px;
    display: flex;
    justify-content: right;
    margin-right: 50px;
  }

  
  /* projects styling */
  #projects{
    background-color: #191F38;
    padding-top: 20px;
  }

  .projectsh1{
    text-align: left;
    font-weight: bold;
    font-size: 4rem;
    color: white;
    margin-left: 180px;
    padding-top: 40px;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Update to 1fr 1fr */
    gap: 50px; /* Adjust gap between cards */
    justify-items: center; /* Center cards horizontally */
    margin-top: 40px;
  }

  /* contact styling */

  #contact{
    background-color: #191F38;
    padding-top: 100px;
    padding-bottom: 10px;
    
  }

  .contacth1{
    text-align: left;
    font-weight: bold;
    font-size: 4rem;
    color: white;
    margin-left: 10px;
  }


  .contact-card{
    width: 1550px;
    height: 700px;
    background-color: #070F2B;
    margin-left: 170px;
    border-radius: 10px;
    background-image: url('./components/contact.jpg');
    background-size: cover;
    background-position: center;
  }

  form{
    display: grid;
    row-gap: 50px;
    margin-top: 50px;
  }

  input{
    height: 60px;
    width: 500px;
    margin-left: 8px;
    border: 1px solid cyan;
    border-radius: 10px;
    background-color: #1F2544;
    font-size: 1.1rem;
    color: white;
  }

  input::placeholder {
    color: white;
    padding-left: 10px;
  }

  .msginput{
    height: 150px;
    padding-bottom: 80px;
  }

  .sendbtn{
    width: 170px;
    margin-left: 8px;
    border: 1px solid black;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
    font-size: 1.1rem;
    background-color: #030637;
    color: white;
    height: 50px;
  }

  .sendbtn:hover{
    background-color: #0A1D56;
    font-weight: bold;
  }

  







